@page "/filmlist"
@using BlazorCRUD.Model
@using Interfaces
@inject IFilmService FilmService

<h1 style="text-align: center;">Film list</h1>

@if (films ==null || !films.Any())
{
    <p>No films available.</p>
}
else
{
    <table class="film-table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Director</th>
                <th>Description</th>
                <th>Release Date</th>
                <th colspan="2" style="text-align: center;">Actions</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var film in films)
            {
                <tr>
                    <td>@film.Title</td>
                    <td>@film.Director</td>
                    <td>@film.Description</td>
                    <td>@film.ReleaseDate?.ToString("dd/MM/yyyy")</td>
                    <td><button class="btn btn-primary" onclick="location.href='/film-details/@film.Id'">Edit</button></td>
                    <td><button class="btn btn-danger" onclick="location.href='/film-delete/@film.Id'">Delete</button></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<Film> films;

    protected override async Task OnInitializedAsync()
    {
        try{
            films = await FilmService.GetAllFilms();
        }
        catch (Exception)
        {
            throw;
        }
    }
}


