@page "/"

<PageTitle>Movies & Chill</PageTitle>

<div class="text-center mt-5">
    <h1 class="display-4">🎬 Movies & Chill</h1>
    <p class="lead">Welcome to your movie management app.</p>
    <p>Track, manage, and explore your favorite films effortlessly.</p>

    <NavLink class="btn-add-film mt-4" href="/film-details">
        <span class="bi bi-plus-circle me-2" style="position: relative; top: -1px;"></span>
        Add New Film
    </NavLink>
    <NavLink class="btn-film-list mt-4 d-inline-flex align-items-center" href="/filmlist">
        <span class="bi bi-list me-2" style="position: relative; top: -1px;"></span>
        Film list
    </NavLink>
</div>
